<div class="well">
  <form name="playlistForm" class="form-horizontal" ng-submit="submit()">
    <fieldset>
      <legend>New Playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
          <input name="playlistName" ng-model='playlist.name' ng-maxlength="16" class="form-control" type="text" required>
          <div ng-show="playlistForm.$invalid && playlistForm.$dirty" class="alert alert-warning">Please enter a name</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button ng-disabled="playlistForm.$invalid" type="submit" class="btn btn-success">Create Playlist</button>
        </div>
      </div>
    </fieldset>
  </form>
  <pre>{{ playlistForm | json }}</pre>
</div>
